<%- include("./../partials/header.ejs") %>

<h1>Welcome to Tech Help for "this company"</h1>
<p>
    This is where you send any problems you have with anything electrical
</p>

<%- include("./../partials/footer.ejs") %>